// ----------
// Font
// ----------

$font     = 'Lato', serif
$hfont    = 'Merriweather', serif

// ----------
// Weight
// ----------

$slight   = 100
$light    = 300
$weight   = 400
$sbold    = 600
$bold     = 700

// ----------
// Type
// ----------

@import '_mod.styl'

$mod      = $major-second

$p        = 16
$lh       = $p*1.5

$h1       = $p*$mod*$mod*$mod*$mod*$mod
$h2       = $p*$mod*$mod*$mod*$mod
$h3       = $p*$mod*$mod*$mod
$h4       = $p*$mod*$mod
$h5       = $p*$mod

$pc       = $p/$mod

$nav      = $pc

// ----------
// Grid
// ----------

$let      = $lh/$p
$let1     = $lh/$h1
$let2     = $lh/$h2
$let3     = $lh/$h3
$let4     = $lh/$h4
$let5     = $lh/$h5
$letc     = $lh/$pc
$letn     = $lh/$nav

$pwidth   = 36
